form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 7px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  border-radius: 10px;
  border: 2px solid rgb(87, 87, 87);
}

form button {
  background-color: rgb(183, 78, 231);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: none;
}

form button:hover {
  background-color: rgb(199, 116, 238);
}
